div{
  margin-left: 15px;
}
.product-card{
  max-width: 125px;
  border:1px solid black;
  border-radius: 15px;
  padding: 10px 10px;
}
.product-card>img {
  width:125px;
}
.yellow-border{
  border-color: yellow;
}